<a href="https://colab.research.google.com/github/AnumoluAbhiram/MainFlow_internship_data_analysis/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [15]:
# Creating a list
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [2]:
# Adding an element to the list
my_list.append(6)
print("List after adding an element:", my_list)

List after adding an element: [1, 2, 3, 4, 5, 6]

In [3]:
# Removing an element from the list
my_list.remove(3)
print("List after removing an element:", my_list)

List after removing an element: [1, 2, 4, 5, 6]

In [4]:
# Modifying an element in the list
my_list[2] = 10
print("List after modifying an element:", my_list)

List after modifying an element: [1, 2, 10, 5, 6]

Dictionary

In [16]:
# Creating a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [6]:
# Adding a key-value pair to the dictionary
my_dict['d'] = 4
print("Dictionary after adding a key-value pair:", my_dict)

Dictionary after adding a key-value pair: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [7]:
# Removing a key-value pair from the dictionary
del my_dict['b']
print("Dictionary after removing a key-value pair:", my_dict)

Dictionary after removing a key-value pair: {'a': 1, 'c': 3, 'd': 4}

In [8]:
# Modifying a value in the dictionary
my_dict['a'] = 10
print("Dictionary after modifying a value:", my_dict)

Dictionary after modifying a value: {'a': 10, 'c': 3, 'd': 4}

Set

In [17]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [10]:
# Adding an element to the set
my_set.add(6)
print("Set after adding an element:", my_set)

Set after adding an element: {1, 2, 3, 4, 5, 6}

In [11]:
# Removing an element from the set
my_set.remove(3)
print("Set after removing an element:", my_set)

Set after removing an element: {1, 2, 4, 5, 6}

In [12]:
# Sets are inherently unordered, so no direct modification of elements like list
# To 'modify', we typically remove the old element and add a new one
my_set.remove(4)
my_set.add(10)
print("Set after 'modifying' an element:", my_set)

Set after 'modifying' an element: {1, 2, 5, 6, 10}